@import './variable';

@mixin border($border) {
    border:$border;
    -webkit-border:$border;
    -moz-border:$border;
    -ms-border:$border;
}

@mixin border-radius($border-radius) {
    border-radius:$border-radius;
    -webkit-border-radius:$border-radius;
    -moz-borderborder-radius:$border-radius;
    -ms-borderborder-radius:$border-radius;
}

@mixin mobile{
    @media #{$max-width-mobile}{
        @content;
    }
}
@mixin tablet{
    @media (min-width:$tablet-width){
        @content;
    }
}
@mixin laptop{
    @media (min-width:$laptop-width){
        @content;
    }
}
@mixin desktop{
    @media (min-width:$desktop-width){
        @content;
    }
}